<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465925088688-4nm6tpvdrd050skrrgh4ff948kgrgm50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465925088688-4nm6tpvdrd050skrrgh4ff948kgrgm50</string>
	<key>API_KEY</key>
	<string>AIzaSyAvKbOSd4JBXBaOSOkQ8S_TsZRtrJjJzlc</string>
	<key>GCM_SENDER_ID</key>
	<string>465925088688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.n1c0qn.uscFaker</string>
	<key>PROJECT_ID</key>
	<string>usc-faker</string>
	<key>STORAGE_BUCKET</key>
	<string>usc-faker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465925088688:ios:54202ff158f90a4c0ea275</string>
</dict>
</plist>